.home-container{
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-content{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.content-base{
    display: list-item;
    align-items: baseline;

}

.content-card1{
    height: 100px;
    margin-bottom: 20px;
}
.content-card2{
    height: 300px;
}

.form-consulta{
    display: inline;
}
