.home-container{
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-content{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.content-base{
    display: block;
    align-items: baseline;

}

.content-card1{
    display: flex;
    height: 100px;
    margin-bottom: 20px;
}
.content-card2{
    height: 300px;
}

.list-1{
    justify-content: center;
    margin-bottom: 10px;
}

.input-form{
    width: 300px;
    height: 50px;
    margin-left: 50px;
}

.buton-form{
    width: 500px;
    margin-top: 10px;
    margin-left: 300px;
}