.valor-container{
    display: flex;
}

.valor-currency{
    margin-left: 20px;
    font-size: 22px;
    margin-top: 7px;
    color: #9E9E9E;
}

.valor{
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: black;
    margin-left: 10px;
}